<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>867145684082-iscs0gnq7r2in52l59lrnhhvvs2eru0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867145684082-iscs0gnq7r2in52l59lrnhhvvs2eru0u</string>
	<key>API_KEY</key>
	<string>AIzaSyDAbcITkJMD0zKnkz3Uageh6t_qjfUzQCs</string>
	<key>GCM_SENDER_ID</key>
	<string>867145684082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>matschmid.diabuddy</string>
	<key>PROJECT_ID</key>
	<string>diabuddy-80d53</string>
	<key>STORAGE_BUCKET</key>
	<string>diabuddy-80d53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867145684082:ios:cbfe0b3474da5c6e</string>
	<key>DATABASE_URL</key>
	<string>https://diabuddy-80d53.firebaseio.com</string>
</dict>
</plist>